.container {
  .choiceContainer {
    display: flex;
    margin-top: 1rem;

    .choice {
      display: flex;
      align-items: center;
      margin-right: 2rem;

      .label {
        font-size: 1.4rem;
        margin-left: -0.5rem;
        cursor: default;
      }
    }
  }
}
