@import "../../../styles/variables";

.container {
  .content {
    .totalContainer {
      display: flex;
      justify-content: space-between;

      .total {
        width: calc(100% / 3.1);
      }
    }

    .chartAndProgress {
      display: flex;
      margin: 2rem 0;
    }

    .tableContainer {
      .table {
        margin-top: 1rem;
      }
    }
  }
}
