@import "../../../styles/variables";

.container {
  .content {
    .totalContainer {
      display: flex;
      justify-content: space-between;

      .total {
        width: calc(100% / 2.5);

        &:nth-child(2) {
          margin: 0 2rem;
        }

        &:nth-child(3) {
          margin-right: 2rem;
        }
      }
    }
  }
}
